@page
@model JavaTechPages.Pages.Products.DistributeModel

@{
    ViewData["Title"] = "Distribute";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Distribute</h1>

<h4>ProductUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductUser.UserId" class="control-label"></label>
                <select asp-for="ProductUser.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductUser.ProductId" class="control-label"></input>
                @*<select asp-for="ProductUser.ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="ProductUser.Quantity" class="control-label"></label>
                <input asp-for="ProductUser.Quantity" class="form-control" />
                <span asp-validation-for="ProductUser.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
